.opened-deck-description {
    white-space: pre-line;
    border: 1px solid black;
    border-radius: 6px;
    width: fit-content;
    padding: 10px;
}

.deck-opened-wrapper {
    margin: 10px;
}

.deck-opened-top-info {
    display: flex;
    margin: 30px;
}

.opened-deck-leader-image {
    width: 20%;
    margin-right: 20px;
}

.opened-deck-list {
    margin: 20px;
    margin-bottom: 60px;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: -70px;
}

.cards-in-deck-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 220px;
    margin: 0 5px;
}

.cards-in-deck-wrapper img:not(:first-child) {
    margin-bottom: -170px;
}

.decklist-table td, .decklist-table th {
    text-align: center;
    padding: 0 5px;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.decklist-table {
    border-collapse: collapse;
    border: 1px solid black;
}

.old-versions-comparison {
    margin: 0 20px;
}