.deck-wrapper {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  width: 20%;
}

.deck-data-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck-data-wrapper:hover {
  cursor: pointer;
  background-color: beige;
}

.deck-name {
  margin: 10px 0;
}

.deck-description {
  white-space: pre-line;
  margin-bottom: 10px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 5px 3px 2px #999;
  padding: 10px;
}

.deck-leader-image {
  width: 200px;
  height: 120px;
  object-fit: cover;
  object-position: 0% 0%; 
}

.percentage-bar-wrapper {
  width: 100%;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.percentage-bar-wrapper div {
  height: 1rem;
  width: 100%;
}

.percentage-bar-wrapper span {
  position: absolute;
  top: 0;
  font-weight: 700;
}

.deck-buttons-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.deck-buttons-wrapper button{
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: none;
  background: none;
  margin: 5px;
}