.my-collection-table td,
.my-collection-table th {
    padding: 2px 5px;
}

.my-collection-table,
.my-collection-table td,
.my-collection-table tr,
.my-collection-table th {
    border-bottom: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.my-collection-table {
    margin: auto;
}

.want-have-input {
    font-size: 2rem;
    width: 5rem;
    text-align: center;
}

.filters-wrapper {
    margin: 10px;
}

.filters-wrapper label {
    margin-left: 2px;
}

.my-collection-table thead {
    position: sticky;
    top: 0;
    background-color: white;
}

.my-collection-table thead th {
    padding-top: 20px;
    font-size: 20px;
}

.counters-wrapper {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

.counters-wrapper div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}